<h1>宿泊施設一覧</h1>
<% @posts.each do |post| %>
 <p>宿泊施設</p>
 <span><%= link_to post.hotel, post_path(post) %></span>
 <p>画像</p>
 <%= attachment_image_tag post, :image, format: 'jpeg', size: '100x100' %>
<% end %>